# 5.4 Age Verification

![2025-11-23_085533.jpg](/images/2025-11-24_161345.jpg){style="background: #fff; padding: 1rem; border-radius: 0.5rem;"}

⚠️ When age restrictions are enabled, you can set products that require an age limit. Products without age restrictions are not affected.

![2025-11-23_085533.jpg](/images/2025-11-24_161332.jpg){style="background: #fff; padding: 1rem; border-radius: 0.5rem;"}

Age verification must be used in conjunction with the app, which will actively read identity documents to perform the check.
