# 5.4 年龄认证

![2025-11-23_085533.jpg](/images/2025-11-23_103342.jpg){style="background: #fff; padding: 1rem; border-radius: 0.5rem;"}

⚠️ 开启年龄限制后，可以设置限制年龄的商品，不设置年龄限制的商品不受限制。

![2025-11-23_085533.jpg](/images/2025-11-23_103445.jpg){style="background: #fff; padding: 1rem; border-radius: 0.5rem;"}

年龄限制需要结合APP使用，APP会主动读取身份证明件进行判断。
